<!doctype html>
<html>
<head>
	<title>hangouts R us</title>

	{{> imports}}

 	<link href="/css/photogallery.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/photoswipe.css"> 
	<link rel="stylesheet" href="/css/default-skin.css"> 
	<link href="/css/tester2.css" rel="stylesheet">
</head>

<body>
	<div class="container-fluid">
		{{> dropdownPartial}}
	</div>

	<div class="bodyContainer">
		<!-- Root element of PhotoSwipe. Must have class pswp. -->
		<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

		    <!-- Background of PhotoSwipe. 
		         It's a separate element, as animating opacity is faster than rgba(). -->
		    <div class="pswp__bg"></div>

		    <!-- Slides wrapper with overflow:hidden. -->
		    <div class="pswp__scroll-wrap">

		        <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
		        <!-- don't modify these 3 pswp__item elements, data is added later on. -->
		        <div class="pswp__container">
		            <div class="pswp__item"></div>
		            <div class="pswp__item"></div>
		            <div class="pswp__item"></div>
		        </div>

		        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
		        <div class="pswp__ui pswp__ui--hidden">

		            <div class="pswp__top-bar">

		                <!--  Controls are self-explanatory. Order can be changed. -->

		                <div class="pswp__counter"></div>

		                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

		                <button class="pswp__button pswp__button--share" title="Share"></button>

		                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

		                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

		                <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
		                <!-- element will get class pswp__preloader--active when preloader is running -->
		                <div class="pswp__preloader">
		                    <div class="pswp__preloader__icn">
		                      <div class="pswp__preloader__cut">
		                        <div class="pswp__preloader__donut"></div>
		                      </div>
		                    </div>
		                </div>
		            </div>

		            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
		                <div class="pswp__share-tooltip"></div> 
		            </div>

		            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
		            </button>

		            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
		            </button>

		            <div class="pswp__caption">
		                <div class="pswp__caption__center"></div>
		            </div>
		          </div>
		        </div>
		 </div>



		<a href="#showGroup" id="showGroup"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
			Add Image </a>

		<!-- COLLAPSABLE -->
		<div id="submenu" >
			<form id        =  "uploadForm"
			     enctype   =  "multipart/form-data"
			     action    =  "/pushImage2"
			     method    =  "post"
			>
		        <label for="name">Add image to a group:</label>
		        <select name="group">
		      	{{#each indivGallery}}
		      	  <option value="{{title}}">{{title}}</option>
		      	{{/each}}
		        </select>
			    <input type="file" name="userPhoto" />
			    <input class="btn uploadbtn" type="submit" value="Upload Image" name="submit">
			</form>
		</div>


		<div class="miniNavBarForGallery">
			{{#each indivGallery}}
			<table>
				<tr id="{{id}}" class="nameFrame">
					<td class="btn storybtn" id="image{{id}}" name="{{group}}"><h1>{{title}}  &nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-down" aria-hidden="true" style="float:right;"></span></h1><p>on {{when}}</p>
					</td>
					<script>
						$("#image{{id}}").css('background-image', "url(../{{imageURL.0.image}})");
					</script>
				</tr>
			</table>

			<div id="p{{id}}" class="pictureFrame">
				<div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
				  {{#each imageURL}}
				  	<figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
					    <a href="{{image}}" class="thumbnail" itemprop="contentUrl" data-size="1840x1232">
					      <img class="imageThumbnail" src="{{image}}" itemprop="thumbnail" alt="Image description" />
					    </a>
					</figure>
				  {{/each}}
				</div>
			</div>
			<hr>
			{{/each}}
		</div>
	</div>


	{{> footer}}
	<script src="/js/jquery.js"></script> 
    <script src="/js/photoswipe.js"></script> 
	<script src="/js/photoswipe-ui-default.min.js"></script> 
	<script src="/js/tester2.js"></script> 
	<script src="/js/introHCI.js"></script>
	<script>
		$(document).ready(function() {
			{{#each indivGallery}}
				$("#p{{id}}").hide();
			{{/each}}
			$("#submenu").hide();
		});

		$("tr").click(function() {
			var eventID = $(this).closest('tr').attr('id');
			var isHidden = $(eventID).is( ":hidden" );
			if(isHidden){
				$("#p"+eventID).show();
			}else{
				//$("#p"+eventID).toggle();

				if ($("#p"+eventID).is(":visible")) {
			        $("#p"+eventID).slideUp('slow');
			    }
			    else {
			    	$("#p"+eventID).slideDown('slow');
			    }
			}
		});

		$("#showGroup").click(function(e) {
	        e.preventDefault();
	        //$("#submenu").toggle();

	        if ($('#submenu').is(":visible")) {
		        $('#submenu').slideUp('slow');
		    }
		    else {
		    	$('#submenu').slideDown('slow');
		    }
	    });

    </script>
    {{> googleAnalytics}}
</body>
</html>