<!DOCTYPE html>

<html>
<head>
	<title>hangouts R us - This Group</title>	
	{{> imports}}
	<link href="/css/groups.css" rel="stylesheet"> 
</head>
<body>
	<div class="container-fluid">
		{{> dropdownPartial}}
	</div>

	<div class="bodyContainer indivGroup">
		<a href="#edit-group" id="edit-group" class="optgroup ondarkbtn"><span class="glyphicon glyphicon-edit"></span> Edit Info</a>

		<!-- COLLAPSABLE FORM FOR EDITING GROUP -->
		<div id="submenu">
			<form role="form" method="get" action="/editGroup">
			  <div class="form-group">
			    <label for="friends">Add Friend(s) To {{groupName}}</label><br> 
			    <span class="glyphicon glyphicon-chevron-up" style="margin-left:5px;"></span>
			    <div class="scrollable">
				  {{#each friends}}
				  <input type="checkbox" name="friend" value="{{name}}" style="margin-left: 10px; margin-right: 7px; padding: 5px;">{{name}}<br>
				  {{/each}}
				</div>
				<span class="glyphicon glyphicon-chevron-down" style="margin-left:5px;"></span>
			  </div>
			  <div class="form-group">
			    <label for="name">New Group Name</label>
			    <input type="text" class="form-control" id="name" placeholder="[the best group ever]" name="name">
			  </div>
			  <div class="form-group">
			    <label for="description">New Description</label>
			    <input type="text" class="form-control" id="description" placeholder="teamwork makes the dream work..." name="description">
			  </div>
			  <input type="submit" id="submitBtn" class="btn optbtn" name="origName" value="Update {{groupName}}"></input>
			  <button class="btn cancel">Cancel</button>
			</form>
		</div>

		<div id="topinfo">
 			<h2 style="color:white;">{{groupName}}</h2>
 			<h4>{{description}}</h4>
 		</div>

		<div>
			<ul class="listview">
				<li class="submenu"><a href="#">Members<span class="glyphicon glyphicon-chevron-down" aria-hidden="true" style="float:right;"></a></li>
					<ul class="submenu">
						<li> {{members}} </li>
					</ul>
				<li><a href="/upcomingEvents/{{groupName}}">Upcoming Events<span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="float:right;"></a></li>
				<li><a href="/planEvent" class="planEvent.html">Plan a New Event<span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="float:right;"></a></li>
				<li><a href="/gallery/{{groupName}}">Photos<span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="float:right;"></a></li>
				<li><a href="/pastEvents/{{groupName}}">Past Events<span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="float:right;"></a></li>
				<!-- <li><a href="/viewGroups/{{groupName}}"><span class="glyphicon glyphicon-remove"></span> Leave {{groupName}}</a></li> -->
	
			</ul>
			
			<br> <hr>
			<a href="#" class="btn cancel" style="color:white;" class="glyphicon glyphicon-remove" id="leavegrp"></span> Leave {{groupName}}</a></li>
			<br><br>
			<div class="cd-popup" role="alert">
				<div class="cd-popup-container">
					<p style="color:black;">Are you sure you want to leave this group?</p><br><br>
					<ul class="cd-buttons">
						<li id="keep"><a href="#">Keep Group</a></li>
						<li><a href="/viewGroups/{{groupName}}">Leave Group</a></li>
					</ul>
				</div> <!-- cd-popup-container -->
			</div> <!-- cd-popup -->

		</div>
	</div>

	{{> footer}}
	<script src="../js/introHCI.js"></script>
	<script>
		$(".cancel").click(function(e) {
 	        e.preventDefault();
 	        //$("#submenu").hide();

 	        if ($('#submenu').is(":visible")) {
		        $('#submenu').slideUp('slow');
		    }
 	    });


		$("#leavegrp").click(function(e) {
	        e.preventDefault();
	        $(".cd-popup").addClass("is-visible");
	    });

	    $("#keep").click(function(e) {
	        e.preventDefault();
	        $(".cd-popup").removeClass("is-visible");
	    });
	    
		$('li.submenu')
		.css({cursor: "pointer"})
		.on('click', function(){
			  //$(this).next('ul').toggle();
			  if ($(this).next('ul').is(":visible")) {
			        $(this).next('ul').slideUp('slow');
			  }
			  else {
			  		$(this).next('ul').slideDown('slow');
			  }
		});

		$("#edit-group").click(function(e){
			e.preventDefault();
			//$("#submenu").toggle();
			if ($('#submenu').is(":hidden")) {
		        $('#submenu').slideDown('slow');
		    }
		});

		$(document).ready(function() {
			$("#submenu").hide();
		});
    </script>
    {{> googleAnalytics}}
</body>
</html>